*{
	margin:0px;
}
#nav{
	background:  linear-gradient(to right, #0F2C5D ,#2c76f5);
	display: grid; grid-template-columns: 20% 80%;
	border-radius: 15px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: 0.5%;
	border: black solid 2px; 
}
#nav img{
	margin-left: 5%;
	margin-top: 2%; 
	width: 60%;
	border-radius: 15px;
}

#manu{
	margin-top: 3.7vw;
	font-size: 1.5vw;
	width: 100%;
}
#manu ul{

	margin-right: 10%;
	height: 100%;
	/*margin: auto;*/
}
#manu ul li{

	color: white;
	background-color:black;
	opacity:0.6;
	/*background-color: black;*/
	width: 16%;
	height: 2.5vw;
	float: left;
	list-style: none;
	line-height: 2.5vw;
	text-align: center;
	
}
#manu ul li ul{
	text-decoration: none;
	display: none;
	padding: 0px;
	width: 500%;
	height: 100%;
	color:black;
}
#manu ul li ul li{
	color: black;
	text-decoration: none;
	text-align: left;
	float: left;
	width: 30%;
	height: 100%;
	list-style: none;
	background-color: #7ea2e0;
	opacity: 90%;
	position: relative;

}
#manu ul li ul li ul{
	text-decoration: none;
	width: 100%;
}
#manu ul li ul li ul li{

	text-decoration: none;
	width: 97%;
	padding-left: 3%;
	list-style: none;
	position: relative;
	font-weight: 100;
	height: auto;
}
#manu ul li ul li a{
	text-decoration: none;
	color: black;
}
#star a{
	text-decoration: none;
	color: white;
}
#star a:hover{
	color: yellow;
}
#manu ul li:hover{
	opacity: 1;
	color: yellow;
	font-weight: 700;
}
#manu ul li:click{
	background-color:  #c27721;
}
#manu ul li:hover	>ul{
	display: block;
}
#manu ul li:hover>ul li ul{
	display: block;	
}

#manu ul li ul li:hover , click{
	display: block;
	background-color: #dfe1e6;
	color: black;	
	text-decoration: underline;
	font-weight: 700;
}
#manu ul li ul li:hover>ul{
	display: block;
}
#move_bottom ul{
	position: relative;
	right:300%;
}
#move_bottom ul li ul{
	position: relative;
	right:0%;
}
#move_left ul{
	position: relative;
	right:200%; 
}
#move_left ul li ul{
	position: relative;
	right:0%; 
}
#name{
	color: white;
	margin-left: 1vw;
	text-align: center;
	font-size: 2.6vw;
}
#credit{
	margin-left: 35%;
	font-size: 1.4vw;
	color: white;
	text-align: center;
}

/*@media(min-width: 992px)
{
			.col-lg-1 , .col-lg-2 ,.col-lg-3 , .col-lg-4 ,.col-lg-5 , .col-lg-6 ,.col-lg-7 , .col-lg-8 ,.col-lg-9 , .col-lg-10 ,
			.col-lg-11 , .col-lg-12 
			{
				
				float: left;
				border: black;
			}
			.col-lg-1{
				margin: 10px;
				box-sizing: border-box;
				width: 8.33%;
				
				
			}
			.col-lg-2{
				box-sizing: border-box;
				
				width: 16.66%;
			}
			.col-lg-3{
				box-sizing: border-box;
				
				width: 25%;
			}
			.col-lg-4{
				box-sizing: border-box;
				
				width: 33.33%;
			}
			.col-lg-5{
				box-sizing: border-box;
				
				width: 41.66%;
			}
			.col-lg-6{
				box-sizing: border-box;
				
				width: 50%;
			}
			.col-lg-7{
				box-sizing: border-box;
				
				width: 58.33%;
			}
			.col-lg-8{
				box-sizing: border-box;
				
				width: 66.66%;
			}
			.col-lg-9{
				box-sizing: border-box;
				
				width: 74.99%;
			}
			.col-lg-10{
				box-sizing: border-box;
				
				width: 83.33%;
			}
			.col-lg-11{
				box-sizing: border-box;
				
				width: 91.66%;
			}
			.col-lg-12{
				box-sizing: border-box;
				
				width: 100%;
			}
		}
@media(min-width: 768px) and (max-width: 991px)
		{
			.col-md-1 , .col-md-2 ,.col-md-3 , .col-md-4 ,.col-md-5 , .col-md-6 ,.col-md-7 , .col-md-8 ,.col-md-9 , .col-md-10 ,
			.col-md-11 , .col-md-12 
			{
				float: left;
				border: black;
				
			}
			.col-md-1{
				box-sizing: border-box;
				
				width: 8.33%;
			}
			.col-md-2{
				box-sizing: border-box;
				
				width: 16.66%;
			}
			.col-md-3{
				box-sizing: border-box;
				
				width: 25%;
			}
			.col-md-4{
				box-sizing: border-box;
				
				width: 33.33%;
			}
			.col-md-5{
				box-sizing: border-box;
				
				width: 41.66%;
			}
			.col-md-6{
				box-sizing: border-box;
				
				width: 50%;
			}
			.col-md-7{
				box-sizing: border-box;
				
				width: 58.33%;
			}
			.col-md-8{
				box-sizing: border-box;
				
				width: 66.66%;
			}
			.col-md-9{
				box-sizing: border-box;
				
				width: 74.99%;
			}
			.col-md-10{
				box-sizing: border-box;
				
				width: 83.33%;
			}
			.col-md-11{
				box-sizing: border-box;
				
				width: 91.66%;
			}
			.col-md-12{
				box-sizing: border-box;
				
				width: 100%;
			}
		}

@media(max-width: 767px)
		{
			
			.col-sm-1 , .col-sm-2 ,.col-sm-3 , .col-sm-4 ,.col-sm-5 , .col-sm-6 ,.col-sm-7 , .col-sm-8 ,.col-sm-9 , .col-sm-10 ,
			.col-sm-11 , .col-sm-12 
			{
				box-sizing: border-box;
				float: left;
				border: black;
			}
			.col-sm-1{
				box-sizing: border-box;
				padding-bottom: 10px
				padding-right:10px;
				width: 8.33%;
			}
			.col-sm-2{
				box-sizing: border-box;
				
				width: 16.66%;
			}
			.col-sm-3{
				box-sizing: border-box;
				
			}
			.col-sm-4{
				box-sizing: border-box;
				width: 33.33%;

			}
			.col-sm-5{
				box-sizing: border-box;
				width: 41.66%;
			}
			.col-sm-6{
				box-sizing: border-box;
				width: 50%;
			}
			.col-sm-7{
				box-sizing: border-box;
				width: 58.33%;
			}
			.col-sm-8{
				box-sizing: border-box;
				width: 66.66%;
			}
			.col-sm-9{
				box-sizing: border-box;
				width: 74.99%;
			}
			.col-sm-10{
				box-sizing: border-box;
				width: 83.33%;
			}
			.col-sm-11{
				box-sizing: border-box;
				width: 91.66%;
			}
			.col-sm-12{

				box-sizing: border-box;

				width: 100%;
			}
		}*/
#main_part{
	display: grid;
	grid-template-columns: 50% 50%;
}
.section{
	display: grid;
	grid-template-columns: 50% 50%;
}
#part1{
	margin: 0%;
	margin-left: 2%;

	box-sizing: border-box;
	border-radius: 15px;
	border: solid 2px;
	width:100%;
	height: 100%;	
}
#part2{
	padding-left: 5%;
	margin: 0%;

}
#part2_1
{
	display: grid;
	grid-template-columns: 50% 50%;
}


.flip-card{
  position:relative;
  background-color: transparent;
  width: 17vw;
  height: 18vw;
  perspective: 1000px;
  margin-bottom: 10%

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p:hover,click{
	color: black;
}
.flip-card-back a:hover,click{
	color: black;
}
